<!DOCTYPE html>
<html lang="en">
<head>
    <title>Other Template Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class ="col-md-6 text-center">
            <h2>Other Template Page</h2>
           
        </div>
        <div class ="col-md-6">

        </div>

    </div>
</body>
</html>